<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/pass.css">
    <title>MAT - Download</title>

  <!-- Imported fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
    <a href="#" class="corner-banner">
        Enjoy your<br>newly downloaded file
    </a>

        <!-- Made by: -->
        <div id="end">
            <p>- Made by Manish Raj -</p>
          </div>
    
    <% if (locals.error) { %> 
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Incorrect Password
        </div>
    <% } %>

    <div id="container">
        <a><h1 class="flash-animation">MAT</h1></a>

            <br>

    <form method="post">
        <label class="text" for="password">Password -></label>
        <br>
        <input type="password" id="password" name="password" required />
        <br>
        <button class="button-upload" type="submit">Download File</button>
    </form>


    <!-- Welcome display -->
<section class="container">
    <h1 class="title">
        <br><br><br><br><br><br>
      <span> password protected file</span>
    </h1>

</body>
</html>